body{
    margin: 0;
    padding: 0;
}


.image-boarder{
    border: 4px solid #3882F6; width: 150px; height: 150px; border-radius: 10px;
}
.header{
    background: #1f2937;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
.image-placeholder{
    width: 550px; height: 250px; background-color: antiquewhite; border: 1px solid gray;
}
.main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}
ul{
    list-style: none;
}
.header a, .secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.quote-section{ 
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}